<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectblankversion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectBlankVersion">
        <activity
            android:name=".SearchTechnologyResultActivity"
            android:exported="false" />
        <activity
            android:name=".BrowseResultActivity"
            android:exported="false" />
        <activity
            android:name=".SearchUnitResultActivity"
            android:exported="false" />
        <activity
            android:name=".SearchCivResultActivity"
            android:exported="false" />
        <activity
            android:name=".SearchTechnologyActivity"
            android:exported="false" />
        <activity
            android:name=".SearchCivilizationActivity"
            android:exported="false" />
        <activity
            android:name=".SearchUnitActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".BrowseActivity"
            android:exported="false" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>